extends ../layout 

block content
    if (currentUser && (currentUser._id.toString() === post.author._id.toString()))
        div
            a(href=post.url + '/update') Update Post 

    if (currentUser && (currentUser._id.toString() === post.author._id.toString() || currentUser.status === 'admin'))
        div
            a(href=post.url + '/delete') Delete Post 

    h1= post.title

    if (currentUser && (['member', 'admin'].includes(currentUser.status) || currentUser._id.toString() === post.author._id.toString()))
        div Posted by #[a(href=post.author.url) #{post.author.fullName}]
        div #{post.datePostedFormatted} at #{post.timePosted}

    h3 Message:
    p= post.content