extends ../layout 

block content
    h1 Posts

    for post in posts 
        a(href=post.url style='color: black') 
            div#post
                if (currentUser && (['member', 'admin'].includes(currentUser.status) || currentUser._id.toString() === post.author.toString()))
                    div Posted by #{post.author.fullName}
                    div #{post.datePostedFormatted} at #{post.timePosted}
            
                h3= post.title 
                p= post.content.length > 300 ? `${post.content.slice(0, 300)}...` : post.content